/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  animation: bg-animation ease-in-out 5000ms alternate infinite;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --clr-icons-text: #C9FFD4;
  --clr-bg: #131B3A
}

/* mobile first */

body {
  margin: 1em;
  background-color: var(--clr-bg);
  line-height: 1.5;
}


.title {
  margin: 0;
  font-size: clamp(1rem, 10vw, 48px);
  line-height: 1.5;
  color: #ffffff;

  text-shadow:
   0.05em 0 0 rgba(255, 0, 0, 0.75),
   -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
   0.025em 0.05 0 rgba(0, 0, 255, 0.75);

  /* animation: glitch 750ms infinite */

}

@keyframes glitch {
  0% {
    text-shadow:
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow:
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow:
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow:
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow:
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow:
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow:
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05 0 rgba(0, 0, 255, 0.75);
  }

}

.left-section{
  margin: 0;
  width: 521px;
  height: 87px;
  left: 36px;
  top: 360px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: var(--clr-icons-text);

}

.profile-photo {
  width: 360px;
  border-radius: 250px;
  max-width: 100%;
  top: 0;
}

.location {
  color: var(--clr-icons-text);
  font-family: Bebas Neue;
  font-size: 36px;
}

.links {
  margin-right: px;
}
